version: "3"

networks:
  external:
    external: true

services:
  bot:
    image: ghcr.io/iliazeus/mastodon-rikibooru:master
    volumes:
      - ./state.json:/app/state.json:rw
      - ./.env:/app/.env:ro
    networks:
      - external
    deploy:
      resources:
        limits:
          cpus: "0.1"
          memory: 64M
