[Unit]
Description=A Mastodon API bot that reposts images from https://rikibooru.com

[Service]
User=mastodon-rikibooru
Group=mastodon-rikibooru

Type=exec
Restart=on-failure

ExecStart=node /home/mastodon-rikibooru/main.mjs
WorkingDirectory=/home/mastodon-rikibooru

Environment=MASTODON_BASE_URL=<fill in>
Environment=MASTODON_USERNAME=<fill in>
Environment=MASTODON_ACCESS_TOKEN=<fill in>
Environment=OWNER_EMAIL=<fill in>
Environment=USE_MARKDOWN=<fill in>

[Install]
WantedBy=default.target
